<nav>
                <h1 class="brand"><a href="https://bmsce.ac.in">BM<span>S</span>CE</a></h1>
                <div class="main_menu">
                <ul>
                    <li><a href="/pic">Home</a></li>    
                    <li><a href="/aboutus">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Services</a>
                      <div class="sub_menu">    
                        <ul>
                          <li><div class="one"><a href = "/novels">Novels</a></div></li>
                          <li><div class="two"><a href = "/comics">Comics</a></div></li>
                          <li><div class="three"><a href = "/fiction">Fictions</a></div></li>
                        </ul>
                      </div>             
                    <li><a href ="/login">LogOut</a></li>
                </ul>
              </div>
            </nav>
        